*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/* #1eb3d5 */
/* color : #06171a */
:root{
    scroll-behavior: smooth;
    /* --bg: #01122e; */
    /* --bg: #16213E; */
    --bg:#25344f;
    --btn-color: #FC2947;
    --img-scale: 1.001
}
body{
    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 80vh;
    /* background-image: linear-gradient(180deg, #9f90f4 0, #6c6cd8 50%, #274bbd 100%); */
    background-image:  linear-gradient(to right, rgb(67, 67, 67,0.5) 0%, rgb(0, 0, 0,0.5) 100%),url('img/paz-emocionalbg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* background-color: #16213E; */
    /* background-color: #25344f; */
}
.container-logo-menu{
    width: 95%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(216, 42, 42); */
    
}

/* VIDEO SECTION */

.video-conteiner{
    width: 75%;
    margin: 0 auto ;
   
}
.flecha{
    width:35px;
    height: 35px;
    margin: auto;
    font-size: 35px
}
.flecha i{
    color: #111
}

.icon-menu{
    /* z-index: 10; */
    position: fixed;
    /* position: relative; */
    top: 30px;
    right: 30px;
    height: 33px;
    width: 30px;
    cursor: pointer;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 6px rgba(0, 0,0, .5); */
}
.icon-logo{
    /* margin-top: 12px; */
    top: 30px;
    /* left: 30px; */
    position: relative;
    min-width:30px;
    max-height:33px;

}
.menu-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    background-color: var(--bg);
    color: #f6d365;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out; /*asdfasdf*/
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0,0, .5);
}
/* header:hover .menu-nav{
    transform: translate(110%) ;
} */
.spread{
    transform: translate(0);
}
.menu-nav a{
    color: #fff;
    text-decoration: none;
}
.header-container{
    width: 100%;
    text-align: center;
}
.contenedor .decoracion{
    font-size: .75rem;
    line-height: 1rem;
    border-width: 1px;
    border-radius: 9999px;
    align-items: center;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: 0px solid #edf2f7;
    text-align: center;
    background-color: rgb(44,65,99);
    color: rgba(242, 242, 242,0.6);
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    visibility: hidden;
}
.contenedor .decoracion li{
    padding: 0 2px;
}
.contenedor .contenedor-precios{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 900;
}
.contenedor .precio-alto{
    font-size: 1.6rem;
    background-color: rgb(41,41,41);
    color: red;
    width: 200px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius:9999px;
    border: 0.5px solid rgb(242, 242, 242,0.6);
    text-align: center;
    text-decoration: line-through;
    text-decoration-color: #f2f2f2;
    
}
.contenedor .precio-bajo{
    font-size: 1.8rem;
    background-color: rgb(41,41,41);
    color: green;
    width: 200px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius:9999px;
    border: 0.5px solid rgb(242, 242, 242,0.6);
    text-align: center;
    font-weight: 1000;
}
.contenedor .titulo-container{
    width: 80%;
    /* background-color: rgba(255, 255, 255, .15);    */
    /* backdrop-filter: blur(2px); */
    margin: auto;
    display: block;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.contenedor .titulo{
    font-size:2.5rem;
    margin-bottom: 2.5rem;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    /* color: white; */
    /* color: white; */
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 2.6rem;
    padding: 8px 18px;
    
}

.contenedor .copy{
    border-radius: 10px;
    padding-top: 15px;
    width: 60%;
    font-weight: 300;
    font-size:  1.125rem;
    font-weight: 200;
    /* color: #f4f98f; */
    color: #f0f1a6;
    /* color: #f2f2f2; */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

.ver-video a{
    cursor: pointer;
    /* background-color: #06171a; */
    /* background-color:var(--bg); */
    /* background-color:transparent; */
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(2px);
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 9999px;
    color: #f2f2f2;
    text-align: center;
    border: 1px solid #edf2f7;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.contenedor .portada-img{
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: contain;
}
.creditos-recursos{
    font-size: .75rem;
    line-height: 1rem;
    background-color:transparent;
    color: rgba(242, 242, 242,0.6);
    float: right;
    text-decoration:none;
}
/* cuenta regresiva */

#cuenta{
    display: flex;
    justify-content:center;
    margin: 40px 60px;
    
}

.simply-amount{
    width: 70px;
    height: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    
}
.simply-word{
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}
.simply-hours-section,.simply-minutes-section,.simply-seconds-section{
    text-align: center;
    margin: 0 8px;
    
}

.simply-days-section{
    display: none;
}
/*  */
/* Anuncio */
.anuncio{
    width:100%;
    min-height: 100px;
    background-color: var(--bg);
}
.anuncio h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    padding-top:34px ;
    
}
.anuncio span{
    color: #f6d365;
}
/* START CARDS EFECT */

.contenedor .mySwiper-cards{
    width: 300px;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 18px;
  }

  .contenedor .slide-cards, .contenedor .slide-logro {
    display: flex;
    flex-direction: column;
    
    
    
  }
  .contenedor .slide-cards article, .contenedor .slide-logro article{
    color: var(--bg);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .slide-cards figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .contenedor-servicio .slide-cards img,.contenedor-servicio .slide-logro img {
    width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }

  .contenedor .slide-cards {
    background-color: #fff;   
  }


  @keyframes swipe-hand {


    0% {
        margin:0;
        transform: rotate(0deg);
    }

    100% {
        margin-right:20px;
        transform: rotate(-5deg);
    }



}
.container-hand{
    width: 80px;
    height: 50px;
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-left: 8px;
}
.contenedor-servicio .handswipe {
    animation:         swipe-hand .8s alternate infinite; /* IE 10+, Fx 29+ */
    animation-timing-function: ease;
    width: 100px;
}
/* END CARDS EFECT */
/* perfil cliente */

.checklist-servicio .service p{
    /* color: #f0f1a6; */
    color: var(--bg);
}
.fa-bolt{
    /* color: #d5761e; */
    color: #f9d423;
}
/* Nuestro servicio */
.subtitulo{
    text-align: center;
    font-weight: 700;
    /* color: #9f8ad0; */
    /* color: #1eb3d5; */
    /* color: #d5761e; */
    color: var(--bg);
    margin-bottom: 40px;
    font-size: 40px;

}
.subtitulo  strong{
    font-weight: 700;
    color: #ff0000;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-servicio img{
    width: 40%;

}
.checklist-servicio{
    width: 45%;
}

.logros-section p,.fa-check, .img-beneficio p{
    /* color: #f0f1a6; */
    /* color: #fff; */
    color: var(--bg);
}
.logros-section p,.fa-check, .img-beneficio h3{
    /* color: #f0f1a6; */
    /* color: #fff; */
    color: var(--bg);
    font-weight: 600;
}
/* ANUNCIO TIEMPO */
.tiempo-limitado-section{
    width: 100%;
    background-color: #111;
    padding: 12px 0;
}
.tiempo-limitado-section h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 12px;
}
.tiempo-limitado-section #cuenta{
    margin: 0;
}
/* START LOGROS SWIPER */
.contenedor .mySwiper-lograras {
    width: 320px;
    height: 480px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 18px;
}


.contenedor .slide-logro h3{
    font-size: 1.12rem;
    padding-bottom: 1.12rem;
    color: var(--bg);
    font-weight: 600;
}
  .logros-section .slide-logro {
    background-color: #fff;
    /* border: 1px solid #fff; */
  }
  
/* END LOGROS SWIPER */
.img-container img{
    width: 100%;
    margin: auto;
    display: block;
}
/* beneficios section */
.img-beneficio{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* background-color: #1eb3d5; */
    margin-bottom: 15px;
}
/* padre  */
.beneficio-box{
    width: 150px;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* hijo entonces el elemento queda totalmente centrado */
.beneficio1{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: url(img/benef3yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.beneficio2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: url(img/benef2yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.beneficio3{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 36px;
    height: 50px;
    background-image: url(img/benef1yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.beneficio4{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: url(img/benef4yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
/* INSCRIPTION START */

.inscripcion-section h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 60px;
    color: #f9d423;
}
.inscripcion-section .oferta-descuento{
    color: #f0f1a6;
}
.conteiner-audio{
    width: 300px;
    margin: auto;
    display: block;
}
/* INSCRIPTION END */

/* TESTIMONIAL SECTION START*/
/* ejemplo de padre */
.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .testimonial-img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
/* ejemplo de hijo */
.testimonial .slide, .propuesta-final .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
.testimonial .slide p, .propuesta-final .slide p{
    padding: 0 60px;
    color: var(--bg);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
}
.testimonial .slide .quote-icon{
    font-size: 30px;
    color: var(--bg);
}
.testimonial .slide .testimonial-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-details .testimonial-name{
    font-size: 14px;
    font-weight: 600;
    color: var(--bg);
}
.testimonial-details .testimonial-job,.bono-title p{
    font-size: 12px;
    font-weight: 500;
    color: var(--bg);
}

/* swiper button css */


.mySwiper-testimonial {
    width: 100%;
    height: 100%;
  }
 .mySwiper-testimonial {
    margin-left: auto;
    margin-right: auto;
  }



/* TESTIMONIAL SECTION END*/
.label{
    color: grey;
    
}
.service{
    margin-bottom: 20px;
}

.n-service{
    margin-top: 7px;
    color: #fff;
}
.number{
    display: inline-block;
    /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
    /* background-color: #1eb3d5; */
    background-color: var(--bg);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    object-fit: cover; /*resposive*/
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0,0, .5);
    cursor: pointer;
}

/* PROGESS BAR CIRCLE */


/* light box */
.imagen-light{
    position: fixed;
    background: rgba(0, 0,0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover; /*new line*/
    width: 60%;
    border-radius: 10px;
    transform: scale(1) ;
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}
/*


*/
.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
/* SEGURIDAD CERTIFICADO */

.contenedor-bonos{
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: #48c6ef; */
}
.contenedor-seguridad{
    width: 25%;
}

.bono-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-color: #1eb3d5; */
    /* background-color: #fff; */
}

.bono-conteiner .bono-img{
    width: 80%;
    height: 80%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.bono-conteiner .bono-title{
    width: 80%;
    height: 100px;
    text-align: center;
    /* background-color: #25d366; */
}

.bono-conteiner h4{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* color: #1eb3d5; */
    color: var(--bg);
}
.bono-img img{
    
  width:100%;
  height: 80%;
  object-fit: contain;
}

/* RIBBON */
.bono-box {
    width: 300px;
    height: 400px;
    background-color: transparent;
    /* border: 1px #f6d365 solid; */
    border-radius: 30px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
  }
  
  /* CONTAINER */
  .ribbon {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
    animation: anim 1s forwards;
  }
  
  .ribbon span {
    width: 225px;
    height: 43px;
    background-color: blueviolet;
    position: absolute;
    transform: rotate(-45deg);
    right: -20px;
    top: 40px;
    display: grid;
    place-items: center;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }
  
  .ribbon::before,
  .ribbon::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: darkgray;
    position: absolute;
    bottom: 0;
    z-index: -2;
  }
  
  .ribbon::before {
    top: 0;
    right: 0;
    z-index: -2;
  }
  
  @keyframes anim {
    100% {
      width: 150px;
      height: 150px;
    }
  }
  


/* MODULOS */
.contenedor-seguridad-bonos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*largo*/
.contenedor-modulos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.modulo{
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 6px;
    margin: 3px 3px;
    
}
.modulo li{
    padding-left: 8px;
}
.modulo-titulo{
    width: 100%;
    height: 60px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eeecec;
    padding-top: 17.5px;
    cursor: pointer;
    
}
.modulo-titulo h4{
    color: var(--bg);
}
.modulo-titulo span, .pregunta-titulo span{
    float: right;
    padding-right: 7px;
    
}
.mod-descripcion{
    width: 100%;
    min-height: 100px;
}
.mod-descripcion, .minus{
    display: none;
}
.mod-descripcion p{
    padding: 7px;
}
.contenedor-garantia{
    width: 500px;
    height: 420px;
    background-color: rgb(238,242,246);
    margin: 20px 0;
    padding: 18px 25px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contenedor-garantia li{
    padding: 8px 0;
}
 .img-garantia{
    width: 300px;
    height: 300px;
    background-image: url(img/garantia.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* PREGUNTAS FRECUENTES */
 .img-comprasegura{
    width: 300px;
    min-height: 200px;
    /* border-radius: 50%; */
    background-image: url(img/comprasegura.png);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    background-image: center;
    /* background-color: #fff; */
   display: block;
   margin: auto;

}

/* PREGUNTAS FRECUENTES */

.pregunta-titulo {
    text-align: start;
    width: 100%;
    height: 60px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #c3cfe2;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 6px;
    padding-top: 21px;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
}
/* ACERCA INSTRUCTOR START*/
.instructor-descripcion h1{
    font-size: 20px;
    font-family:   'Poppins',Arial,sans-serif;
    font-weight: 600;
    padding-bottom: 12px;
    color: var(--bg);
}
.instructor-descripcion p,.instructor-descripcion li{
    font-weight: 300;
    font-family:   'Poppins',Arial,sans-serif;
    color: var(--bg);
}
.instructor-descripcion article{
    padding-bottom: 12px;
}
.contenedor-img-instructor{
    width: 200px;
    min-height: 200px;
    /* border-radius: 50%; */
    background: url(img/instructor.jpg) no-repeat;
    background-size: cover;
    object-fit: contain;
    
}
/* ACERCA INSTRUCTOR END*/
.number-one-img{
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
/* footer */
footer{
    /* background: #9f8ad0; */
    background-color: #111;
    padding-bottom: 0.1px;
}
.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: #fff;
}
.brand{
    font-weight: 500;
    font-size: 35px;
}
.brand+p{
    font-weight: 500;
}
.logo{
    width: 100px ;
    height: 100px;
    background: url(img/logofooter.png) no-repeat;
    background-size: contain;
    border-radius: 50% ;
    border: 1px solid #fff;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;

}
.social-media-icon:hover{
    background-color: #fff;
    color: #25d366;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background-color: #fff;
    margin-bottom: 60px;
}


/* #CC6600  */
/* RESPONSIVE */
@media screen and (max-width:985px) {
    .contenedor .titulo-container{
        width: 100%;
    }
    .contenedor-bonos{
        width: 45%;
    }
    .contenedor-seguridad{
        width: 45%;
    }
    .bono-conteiner, .contenedor-seguridad{
        margin: 0 auto;
    }
    .header .titulo,.header .copy, .header .ver-video{
        margin: auto;
        display: block;
    }
    /* .header .titulo{
        font-size: 30px;
    } */
    .header .copy{
        width: 100%;
        padding-bottom: 60px;
    }
    
    .anuncio h1{
        font-size: 28px;
    }
    .icon-menu{
        top: 20px;
        right: 20px;
        height: 25px;
        width: 22px;
    }
    .icon-logo{
        top: 20px;
        max-height: 25px;
        min-width: 22px;
    }
    
}
@media screen and (max-width:800px) {
    .menu-nav{
        width: 50vw;
    }
    .icon-menu{
        position: relative;
        top: 20px;
        right: 20px;
        height: 25px;
        width: 22px;
    }
    /* .titulo{
        font-size: 40px;
    } */
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .contenedor .container-hand img{
        margin-bottom: 0;
    }
    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px ;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-galeria{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
    .social-media-icon{ /*new line*/
        margin-left: 0;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    .social-media{
        width: 20%;
    }
     .contenedor-img-instructor{
        margin-bottom: 25px;
    }
    .video-conteiner, .modulo-titulo, .mod-descripcion{
        width: 100%;
        margin: 0 auto ;
    }
    .contenedor-bonos{
        width: 100%;
    }
    .contenedor-seguridad{
        width: 100%;
    }
    .bono-conteiner{
        margin: 0 auto;
    }
    .contenedor-testimonios{
        width: 100%;
    }
    .garantia{width: 80%; min-height: 100px;}
    .img-producto{
        width: 70%;
        float:right
    }
    
    .header .copy{
        width: 100%;
        padding-bottom: 60px;
    }
    .logros-section .contenedor-servicio{
        display: flex;
        flex-direction: column-reverse;
        object-fit: contain;
    }
    
    
}
@media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }
    .swiper-button-next::after, .nav-btn::after {
      display: none;
    }
    .arrows-slider{
        visibility: none;
    }
    .modulo{
        width: 100%;
    }
    .modulo-titulo h4{
        font-size: 18px;
    }
    .contenedor-garantia{
        width: 80%;
        height: 100%;
    }
    .contenedor-servicio .handswipe{
        width: 50px;
    }
}
@media screen and (max-width:500px){
    .contenedor{
        width: 90%;
    }
    .menu-nav{
        width: 65vw;
    }

    
    
    .agregar-imagen{
        width: 95%;
    }
    .img-galeria{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
    .social-media-icon{
        margin: auto;
        display: block;
    }
    .contact-us{
        width: 90%;
    }
     .contenedor-img-instructor{
        margin-bottom: 25px;
    }
    .contenedor-bonos{
        width: 100%;
    }
    .contenedor-seguridad, .contenedor-modulos, .modulo{
        width: 100%;
    }
    
    .bono-conteiner{
        margin: 0 auto;
    }
    .contenedor-testimonios{
        width: 50%;
    }
    .garantia,.contenedor-garantia,.contenedor-oferta{
        width: 100%;
        min-height: 300px;
    }
    .img-producto{
        width: 90%;
        float: right;
    }
    .producto-section img,.pg-container{
        width: 100%;
    }
    .circular-progress{
        height: 190px;
        width: 190px;
    }
    .circular-progress::before{
        height: 180px;
        width: 180px;
    }
    .logo{
        margin: 0 auto;
    }
    
    .anuncio h1{
        font-size: 24px;
        padding: 5px 5px;
    }
    .contenedor .button-box a{
        font-size: 18px;
    }
    .header{
        /* background-image: none;
        background-color: #06171a; */
        height: max-content;
    }
    
}
@media screen and (max-width:480px){
    /* .header .titulo{
        font-size: 23px;
    } */
    /* .header .copy{
        font-size: 20px;
    } */
    .contenedor{
        padding-top: 25px;
    }
    .subtitulo{
        font-size: 28px;
    }
    #cuenta{
        margin: 18px 0;

    }
    .video-conteiner iframe{
        height: 200px;
    }
    .anuncio h1{
        font-size: 22px;
    }
    .inscripcion-section h1{
        font-size: 40px;
    }
    .contenedor-oferta .button-box{
        min-height:230px;
        width: 90%;
    }
    .modulo-titulo h4{
        font-size: 18px;
    }
    .button-box .metodos-pago{
        width: 100%;
        height: 100%;
        /* background-color: white; */
    }
    .button-box .metodos-pago img{
        object-fit: contain;
        width: 100%;
        height: 50%;
    }
    .contenedor .titulo{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    
    .logros-section .checklist-servicio, .perfil-cliente-section .checklist-servicio{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .contenedor .mySwiper-cards{
        width: 100%;
        height: 420px;
      }
      .contenedor .mySwiper-lograras{
        width: 100%;
      }

}
@media screen and (max-width: 300px) {
    
    header img{
        display: none;
    }
    .menu-nav{
        width: 65vw;
        display: none;
    }
    .icon-menu{
        top: 20px;
        right: 20px;
    }
    .icon-logo{
        top:20px;
        left: 20px;
    }
    
    .titulo span{
        display: none;
    }
    .subtitulo{
        font-size: 20px;
    }
    .img-galeria{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
    }
    .contenedor-img-instructor{
        margin-bottom: 25px;
    }
    .contenedor-bonos,.contenedor-modulos, .modulo, .img-producto,.pg-container,.img-comprasegura{
        width: 100%;
    }
    .garantia{
        width: 100%;
        height: 300px;
    }
    .producto-section img {
        width: 100%;
    }
    .circular-progress{
        height: 190px;
        width: 190px;
    }
    .circular-progress::before{
        height: 180px;
        width: 180px;
    }
    .logo{
        margin: 0 auto;
    }
    .contenedor .titulo{
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
    
}


.button-box{
    width: 400px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    
    /* font-family: sans-serif; */
}
/* .button-section{
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 
} */
.button {
    /* background-color: rgb(153, 210, 23); */
    background-color: var(--btn-color);
    /* background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%); */
    border: none;
    /* color: #333; */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 40px; */
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 99999px;
    /* border: 2px solid #f6d365; */
    width: 100%;
  }
.contenedor-oferta{
    display: flex;
    flex-direction: column;
}
.precio{
    min-width:300px;
    min-height: 120px;
    background: url(img/precio3.png) no-repeat;
    background-size: contain;
    margin: auto;
    align-items: center;
    border-radius: 25px;
}
.metodos-pago{
    width: 325px;
    height: 100px;
    /* background: url(img/payments2.png) no-repeat;
    background-size: contain;
    margin: auto;
    align-items: center;
    display: inline-block; */
    /* background-color: #FFF; */
    margin: auto;
    display: block;
}
.metodos-pago img{
    object-fit: cover;
  width:100%;
  height:100%;
   
}

.button-box a{
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 1px;
  border-radius: 99999px;
  font-weight: 900;
}
.button-box a:hover{
  /* background: rgb(146,63,251); */
  /* background: rgb(249, 214, 36); */
  background: var(--btn-color);
  color: #fff;
  border-radius: 9999px;
  box-shadow: 0 0 5px var(--btn-color),
              0 0 25px var(--btn-color),
              0 0 50px var(--btn-color),
              0 0 100px var(--btn-color);
}
.button-box  a span{
  position: absolute;
  display: block;
}
.button-box a span:nth-child(1){
  top:0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent, var(--bg));
  animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
  0% {
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.button-box a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent, #f6d365);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}
@keyframes btn-anim2 {
  0% {
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.button-box a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent, #f6d365);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
@keyframes btn-anim3 {
  0% {
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.button-box a span:nth-child(4){
  bottom: -100%;
  left:0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent, #f6d365);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
